<ion-header>
  <ion-toolbar color="danger">
    <ion-icon name="menu" slot="start" size="large"></ion-icon>
    <ion-title>
      ComidApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="dark" class="ion-text-center">
    <h1>Categorías de Comida</h1>
    <ion-text color="primary">
      <h4 routerLink="/scanear">Ir a scan</h4>
    </ion-text>
  
    <ion-list *ngFor="let item of categorias">
      <ion-item>
        <ion-card class="ion-padding" (click)="click(item.strCategory)">
          <ion-img src="{{item.strCategoryThumb}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.strCategory}}</ion-card-title>
            <ion-card-subtitle>Id:{{item.idCategory}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{item.strCategoryDescription}}
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-text>
</ion-content>